@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic');

* {
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

/*
  TODO
    adaptive layout instead of this
 */
body {
  min-width: 980px;
  max-width: 100vw;
}

.sidebar {
  background-color: #f0f0ff;
  max-width: 15rem;
  min-height: 100vh;
}

.sidebar img {
  margin-bottom: 1rem;
}

.sidebar a {
  background-color: #f0f0ff;
  border: none;
  color: #000;
  font-weight: 600;
  padding: 0.6rem 0 0.6rem 2rem;
  text-decoration: none;
  letter-spacing: 0.075rem;
}

.sidebar a:hover {
  color: #ff7f00;
  text-decoration: none;
}

.sidebar a.active {
  color: #ff7f00;
  background-color: #fefefa;
}

.content {
  width: 100%;
  padding-right: 2rem;
  padding-top: 1rem;
  overflow-x: hidden;
  background-color: #fefefa;
}

.main {
  padding-left: 5rem;
  padding-top: 4rem;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.top-navigation {
  margin-left: 3rem;
}

.top-navigation nav {
  border: none;
}


.top-navigation a {
  color: #000;
  font-weight: 600;
  margin-right: 2rem;
  text-decoration: none;
  border: none !important;
  padding-left: 0;
}

.top-navigation a:hover {
  color: #ff7f00;
}

.top-navigation a.active {
  color: #ff7f00!important;
}

.submit-header {
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  cursor: pointer;
}

.submit-problem {
  font-weight: 400;
  color: grey;
  margin-right: auto;
  max-width: 30rem;
}

.submit-status {
  max-width: 30rem;
  text-align: end;
  font-weight: 600;
}

.submit-score {
  max-width: 7rem;
  text-align: end;
  font-weight: 600;
  margin-left: 1.5rem;
}

.submit-body {
  padding: 1.5rem;
  background-color: #f0f0ff;
}

.submit-solution-compiler {
  margin-bottom: 1rem;
  font-weight: 600;
}

.btn.btn-primary {
  color: #fefefa;
  background-color: #ff7f00;
  border-color: #ff7f00;
  font-weight: 600;
}

.submit-form-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.submit-form-row * {
  margin-right: 4rem;
}

.submit-form-button {
  margin-right: 0;
  width: 40rem;
}

.problem-header {
  margin-top: 2rem;
  padding-left: 1rem;
  cursor: pointer;
}

.problem-header-name {
  font-weight: 600;
  display: inline-block;
}

.problem-header-status {
  color: gray;
  display: inline-block;
  float: right;
  font-weight: 600;
}

.problem-body {
  padding: 1rem 1rem 1rem 1.5rem;
  background-color: #f0f0ff;
}